.absolute{
    margin: 5%;
    position: static;
}

.radio-label {
    display: inline-block;
     vertical-align: top;
     margin-right: 3%;
 }
 .form-check-input .form-group  {
    display: inline-block;
     vertical-align: top;
     position: center;
     text-align: center;
     display:inline;
     border: 1px solid black;
 }